.brand-wrapper {text-align: center;}
.brand-logo {margin: 0 auto;}
.navbar-brand {float: none;}
.navbar-nav {float: none; display: inline-block;}
.nav-wrapper nav {text-align: center;}

body {
    font-family: Roboto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Abel;
    margin-top: 0px;
    text-transform: uppercase;
}

a:hover {text-decoration: none;}

p {margin-bottom: 0px;}

.brand-wrapper {margin-bottom: 10px;}

header.navbar {
    margin: 0;
    text-transform: uppercase;
}


.main {
    font-size: 16px;
    line-spacing: 18px;
}

.main .padded {
    padding: 5px 30px 15px; 
    font-size: 18px;
    line-spacing: 20px;
}

.main .boxed {
    background-color: #dad9d7;
    padding: 20px 15px;
}

footer {
    background: #000;
    color: #fff;
    font-family: Abel;
    margin-top: 60px;
    padding: 15px;
}

.page-template-template-properties footer {
    margin-top: 0;
}

footer a {
    color: #a7a7a7;
}

footer a:hover {
    color: #878787;
}

footer .contact-info {
    margin: 10px 0 5px;
}

footer .contact-info i {
    margin-right: 10px;
}

footer .column {
    float: left;
    height: 30px;
    margin-top: 5px;
}

/* Slider Styles */

.slider {
    color: #fff;
    margin: 0 0 40px;
}

.carousel-slide {
    background-size: cover;
    background-position: bottom;
    height: 600px;
}

.header-slide {
    background-size: cover;
    background-position: bottom;
    height: 300px;
}

.header-narrow {
    background-color: #bdbdbd;
}

.slide-body {
    color: #fff;
}

.slide-control {
    margin-top: 10px;
}

.slide-control a {
    color: rgba(255,255,255,0.5);
}

.carousel-slide .slide-body {
    margin-top: 260px;
}

.header-slide .slide-body {
    margin-top: 150px;
}

.slide-heading {
    font-family: Abel;
}

.small-quote {font-size: 0.8em;}

.carousel-slide .slide-heading {    
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.header-slide .slide-heading {
    font-size: 30px;
    text-align: center;
}

.control-left {
    float: left;
}

.control-right {
    float: right;
}

/* Properties */
.property-wrapper {background-color: #d1d0ce;}
.property {display: block; height: 250px; padding: 0; text-decoration: none;}
.property-container {
    height: 250px;
    background: rgba(41,41,41, .75);
    visibility: hidden;
    opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.property:hover .property-container, .property:focus .property-container {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
}
.property-details {color: white; padding: 40px 30px;}
.property-details ul {list-style: none; margin: 0;}
.property-left {text-align: left; padding: 40px 0 0 30px;}
.property-right {text-align: right; padding: 40px 30px 0 0;}

/* Staff */
.staff-list {margin-bottom: 30px;}
.staff-list h3 {padding: 0 5px; clear: both;}
.staff-member {
    display: block;
    opacity: 0.7;
    height: 150px;
    min-width: 150px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150px 150px;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.staff-member:hover {
    opacity: 1;
}
.staff-details-wrapper {clear: both; min-height: 300px;}
.staff-details {
    padding: 0 5px;
    position: absolute;
    visibility: hidden;
    opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

.staff-details h4 {color: #999;}


/* Media Queries */
@media (max-width: 1000px)
{
    .carousel-slide .slide-heading {
        padding-top: 15px;
        font-size: 40px;
    }   
}

@media (max-width: 550px)
{
    .control-left, .control-right {display: none;}
}

@media (max-width: 500px)
{
    .carousel-slide .slide-heading {
        font-size: 30px;
    }

    .header-slide .slide-body {
        margin-top: 80px !important;
    }
}